body{
    position: relative;
    margin: 0;
    min-height: 100vh;
}


#logo{
    width: 10vh;
}

#tituloherramientas{
    margin: 5%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}



#carrusel{
    margin-top: 3vh;
}

.navbar{
    padding: 0;

}

#letraS{
    font-family: sans-serif;
    font-weight: bold;
}
#usuarioIm{
    width: 10%;
    padding: 0;
}

.row{
    margin: 0;
}

footer{
    background-color: #00ffff;
    position: absolute;
    bottom:auto;
    width: 100%;
    margin-top: 5%;
}

#contacto{
    width: 50%;
    margin: auto;
}
#zona_contacto{
    margin: 5%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

#logoLogin{
    width: 20vh;
}

#textLogo{
    font-weight: bold;
    text-align: center;
}

#login{
    width: 50%;
    margin: auto;
}

.loginS{
    margin: auto;
}

#btnSesion{
    margin-bottom: 5vh;
}
#bienvenidoLogin{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    
}

#qsP{
    margin: 2vh;
}

.cardS{
    font-size:x-large;
}

.cardS2{
    font-weight:bolder;
    font-size: xx-large;
    padding-top: 2%;

}

.nuestrosValores{
    padding-top: 8vh;
}